name: Keepalive Workflow

on:
  schedule:
    - cron: '0 0 1 * *' # Runs once a month
  workflow_dispatch:

jobs:
  keepalive-job:
    runs-on: ubuntu-latest
    permissions:
      actions: write
    steps:
      - uses: actions/checkout@v4
      - uses: gautamkrishnar/keepalive-workflow@v2
